<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>グラフ・メイカー</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<nav class="nav-extended indigo">
    <div class="nav-wrapper">
        <a href="/" class="brand-logo center">グラフ・メイカー</a>
    </div>
    <div class="nav-content">
        <ul class="tabs tabs-transparent">
            <li class="tab"><a class="active" href="#manual">うんち</a></li>
            <li class="tab"><a href="#csv">CSV</a></li>
            <li class="tab"><a href="#history">History</a></li>
        </ul>
    </div>
</nav>
{% with img_src = img_src %}
{% include 'manual.html' %}
{% endwith %}
{% include 'csv.html' %}
{% with graph_histories = graph_histories %}
{% include 'history.html' %}
{% endwith %}
<script type="text/javascript">
    $(document).ready(function(){
        $('.tabs').tabs();
    });
</script>
</body>
</html>